/* html, body, #content {
        height: 100%;
        margin: 0;
        padding: 0;
    } */

#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

body {
    /* margin: 0; */
    font-family: Verdana, Tahoma, sans-serif;
}


#map {
    float: right;
    border: thin solid black;
    /* margin-right: 5%; */
  	height: 300px;
    width: 300px;
}

#geolocation {
    margin-top: 5%;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  /* border: 1px solid #dddddd; */
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

tr:nth-child(odd) {
  background-color: #eaeaea;
}

* {
  box-sizing: border-box;
}

.container {
  padding: 16px;
}

/* display of information form */
.information {
  display: block; /* shown by default */
  padding: 16px;
  background-color: white;
}

/* width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity: 1;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* The login form (display) */
.loginForm {
  display: block; /* shown by default */
  /* position: fixed; Stay in place */
  z-index: 1; /* Sit on top */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed*/
  padding-top: 60px;
  padding: 16px;
}

/* login form Content/Box */
.loginForm-content {
  background-color: white;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid black;
  width: 80%; /* Could be more or less, depending on screen size */
}

#useGPS {
    width: 25%;
    display: inline-block;
}

#startAddress {
    display: inline-block;
    width: 74%;
}
